.banner__bg {
  height: 100%;
  min-width: 100%;
  
  background-size: cover;
  background-position-x:center;
}


.banners__bg{
  -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
  overflow: scroll;
  display: flex;
  margin-top: -114px;
  position: absolute;
  height: 525px;
  width: 100%;
  z-index: 1;
}

.banner {
  padding: 114px 0 99px;
  &__quad{
    z-index: 2 !important;
    transform: translate(-33px, -64px);
    position: absolute;

  }
  // .banner__bg
  
  
  // .banner__container
  
  &__container {
    display: flex;
    justify-content: start;
    align-items: center;

  }
  
  // .banner__items
  
  &__items {
    pointer-events: none;
    z-index: 2;
    position: relative;
    row-gap: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:end;
  }
  
  // .banner__text
  
  &__text {
    transition: all 0.2s ease-in;
    
  }
  
  // .banner__arrs
  
  &__arrs {
    pointer-events: all;
  }
  
  // .banner__img
  
  &__img {
    width: 50%;
  }
  }
  .banner-items {
  
  // .banner-items__quad
  
  &__quad {
    transition: all 0.2s ease-in;
    z-index: 1;
    background:white;
    border:2px #000 solid;
    border-radius:4px;
    padding: 15px 0 0 33px;
    width: 492.61px;
    height: 260.4px;
  }
  }
  .banner-text {
  
    

  // .banner-text__top
  
  &__top {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  // .banner-text__header
  
  &__header {
    margin-bottom: 15px;
  }
  
  // .banner-text__desc
  
  &__desc {
    padding: 0 36px 0 0;
    margin-bottom: 28px;
  }
  
  // .banner-text__btn
  
  &__btn {
    pointer-events: all;
    column-gap: 10px;
  }
  }
  .banner-arrs {
    
  // .banner-arrs__left
  
  &__left {}
  
  // .banner-arrs__right
  
  &__right {}
  }
  