.header {
  height: 237px;
  // .header__container
  
  &__container {}
  
  // .header__top
  
  &__top {
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 83px;
  }
  
  // .header__nav
  
  &__nav {
    display: flex;
    column-gap: 30px;
  }
  
  // .header__phone
  
  &__phone {
    display: flex;
    justify-content: flex-end;
    column-gap: 13px;
  }
  
  // .header__bottom
  
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items:start;
  }
  
  // .header__logo
  
  &__logo {
    width: 201px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 13px;
    line-height: 1.45;
    & strong{
      font-size: 17px
    }
  }
  
  // .header__catalog
  
  &__catalog {
    position: relative;
    & img{
      transition: all 0.2s ease-in;
    }
    & span{
      transition: all 0.1s ease-in;
    }
    transition: all .2s ease-in;
    &:hover{
      background:#900022
    }
    z-index: 9;
    text-transform: uppercase;
    color: white;
    border-radius: 47px;
    column-gap: 10px;
    font-weight: bold;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    height: 52px;
    background: #DB0032;
  }
  
  // .header__search
  
  &__search {
    z-index: 0;
    margin-left: -123px;
    padding: 0 21px 0 109px;
    position: relative;
    width: 476px;
    display: flex;
    border-radius: 24px;
    border: 1px #E8E8E8 solid;
    height: 52px;
    justify-content: space-between;
    align-items: center;

  }
  
  // .header__menu
  
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items:start;
    width: 470px;
  }
  }
  .nav {
  
  // .nav__link
  
  &__link {
    transition: all .2s ease-in;
    &:hover{
      color:#DB0032
    }
    font-size: 13px;
  }
  }
  .phone__number-number{
    
    & a{
      transition: all 0.2s ease-in;
    &:hover{
      color:#DB0032 !important
    }
  }
}
  .phone {
  
  // .phone__number
  
  &__number {
    font-size: 16px;
    font-weight: 500;
    justify-content: start;
    display: flex;
    column-gap:10px;
    
    &-allnum{
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
      transition: all 0.2s ease-in;
      position: absolute;
      background: white;
      border-radius: 5px;
      padding: 10px;
      opacity: 0;
      display: none;
    }
  }
  
  // .phone__more
  
  &__more {

  }
  
  // .phone__call
  
  &__call {
    transition:all 0.2s ease-in;
    &:hover{
      color:#FED16E
    }
    font-size: 14px;
    color:#DB0032
  }
  }
  .logo {
  
  // .logo_img
  
  &_img {
    margin-bottom: 20px;
  }
  }
  .catalog {
  
  // .catalog__icon
  
  &__icon {
    width: 12px;
    height: 12px;
  }
  }
  .search {
  
  // .search__input
  
  &__input {
    width: 100%;
    height: 100%;
    padding: 0 5px 0 5px;
    font-size: 13px;
  }
  
  // .search__icon
  
  &__icon {}
  }
  .menu {
  
  // .menu__item
  
  &__item {
    transition: all 0.2s ease-in;
    &:hover{
      padding: 10px 10px;
      border-radius: 5px;
      transform: scale(1.1);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 13px;
  }
  
  // .menu__calculation
  
  &__calculation {}
  
  // .menu__item-ico
  
  &__item-ico {
    width: 22px;
    height: 21px;
  }
  
  // .menu__item-text
  
  &__item-text {}
  
  // .menu__wishlist
  
  &__wishlist {}
  
  // .menu__basket
  
  &__basket {}
  
  // .menu__profile
  
  &__profile {}
  }
  .calculation {
  
  // .calculation__logo
  
  &__logo {}
  
  // .calculation__text
  
  &__text {}
  }
  .wishlist {
  
  // .wishlist__logo
  
  &__logo {}
  
  // .wishlist__text
  
  &__text {}
  }
  .basket {
  
  // .basket__logo
  
  &__logo {}
  
  // .basket__text
  
  &__text {}
  }
  .profile {
  
  // .profile__logo
  
  &__logo {}
  }
  

  .header {

    // .header__menu-burger
    
    &__menu-burger {
      border-radius: 50%;
      background: #DB0032;
      min-height: 50px;
      min-width: 50px;
      margin-left: 33px;
      margin-right: 20px;
      display: none;
      justify-content: center;
      align-items:center;
      flex-direction: column;
      row-gap: 3px;
      @media(max-width:1023px){
        display: flex;
      }
    }
    }
    .menu-burger {
    
    // .menu-burger__line
    
    &__line {
      min-width: 17.8px;
      min-height: 2px;
      border-radius:2px;
      background:white;
    }
    }
    
    .header {

      // .header__search-mobile
      
      &__search-mobile {
        display: none;
        @media(max-width:767px){
          display: flex;
        }
      }
      
      // .header__search
      .search {
      
      // .search__input-mobile
      
      &__input-mobile {}
      
      // .search__input
      
      
      // .search__icon-mobile
      
      &__icon-mobile {}
      }
    }
    .header-mobile{
      display:none;
    }

    .header-catalog{
      &__item{
        
        font-size: 13px;
        row-gap: 0 !important;
        padding: 5px !important;
        width: 153px !important;
        height: 87px !important;
      }
      &__items{
        transform:  translate(-292px, -195px) scale(0);
        transition: all 0.2s ease-in;
        overflow-x: hidden;
        overflow-y: scroll;
        height: 344px;
        z-index: 6;
        width: 670px;
        padding: 67px 10px 10px 10px;
        gap: 5px;
        border-radius: 28px 5px 5px 5px;
        border: 1px #FED16E solid;
        background: white;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
      }
    }
    .header__catalog-div{
      z-index: 10;
    }