.header-mobile {
  margin: 0 auto;
  max-width: 320px;
  padding: 20px 0;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  // .header-mobile__logo

  &__menu-burger {
    max-height: 50px;
    max-width: 50px;
    margin: 0;
  }

  &__logo {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 114px;

    & .logo_img {
      margin: 0;
      width: 100%;
    }
  }

  // .header-mobile__text

  &__text {}
}

.header-mobil {

  // .header-mobil__top

  &__top {
    width: 100%;
    justify-content: space-between;
    display: flex;
  }
}

.header {

  // .header__menu-burger

  // .header__search-mobile

  &__search-mobile {
    padding: 0 12px 0 12px;
    margin: 0;
    max-width: 100%;
  }

  // .header__search

  &__search {}

  // .header__logo

  &__logo {}
}

.menu-burger {

  // .menu-burger__line

  &__line {}
}

.logo {

  // .logo_img

  &_img {}
}

.search {

  // .search__input-mobile

  &__input-mobile {}

  // .search__input

  &__input {}

  // .search__icon

  &__icon {}

  // .search__icon-mobile

  &__icon-mobile {}
}
.menu-burger {
  left: 100%;
  transition: all 0.3s ease-in;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar{
    display: none;
  }
  height: 100vh;
  overflow: scroll;
  width: 100%;
  padding: 13px;
  top: 0;
  z-index: 999;
  position: fixed;
  background:white;

  // .menu-burger__links
  &__top{
    
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 49px;
  }
  &__close-button{
    & button{
      height: 50px;
      font-size: 14px;
      width: 50px;
      border-radius: 50%;
      background: #DB0032;
      color: white;
    }

  }
  &__logo{
    display: flex;
    align-items: center;
    & img{
      height: 100%;
    margin: 0;
    }
  }
  &__links {
    display: flex;
    gap: 5px;
    margin-bottom: 40px;
    flex-direction: column;
  }
  
  // .menu-burger__link
  
  &__link {
    font-weight: 600;
    font-size: 13px;
    border-radius:20px;
    transition: all 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    height: 50px;
    background: #74499B;
    color:white !important;
        &:hover,&:active{
      background: #000;
    }
    &:nth-child(2n){
      color:black !important;
      background: #FED16E;
    }
  }
  
  // .menu-burger__bottom
  
  &__bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  }
  .phone {
  
  // .phone__number-number
  
  &__number-number {}
  }
  