.popular {
  padding-bottom: 98px;

  // .popular__container
  
  &__container {
    @media(max-width:1200px){
      margin-left: 29px !important;
    }
    @media(max-width:1023px){
      margin-left: 10px !important;
    }
    @media(max-width:767px){
      margin-left: 5px !important;
    }
    max-width: none !important;
    margin-left: 150px !important;
    
    gap: 34px;
    display: flex;
  }
  
  // .popular__text
  
  &__text {
    display: flex;
    width: 320px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 21px;
  }
  
  // .popular__items
  
  &__items {
    min-width: 0;
    overflow-y: hidden;
    overflow-x:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    height: 586px;
  }
  
  // .popular__item
  
  &__item {}
  }
  .container {
  }
  .popular-text {
  
  // .popular-text__header
  
  &__header {}
  
  // .popular-text__desc
  
  &__desc {}
  
  // .popular-text__arrs
  
  &__arrs {}
  
  // .popular-text__arrs-mobile
  
  &__arrs-mobile {}
  }
  .text-big {
  }
  .btn-arrs {
  }
  .popular-arrs {
  
  // .popular-arrs__left
  
  &__left {}
  
  // .popular-arrs__right
  
  &__right {}
  }
  .btn-arr {
  }
  .catalog-item {
  }
  .item {
  
  // .item__img
  
  &__img {}
  }
  