  //PRODICT ITEM
.product-item{
  transition: all .2s ease-in;
  &:hover{
    transform: scale(1.02);
  }
  flex-direction: column;
  display: flex;
  width: 300px;
  height: 393px;
  border-radius:10px;
  border:solid 1px rgba($color: #000000, $alpha: 0.3);
  &__img{
    height: 100%;
    text-align: left;
  }
  &__name{
    font-size: 14px;
    line-height: 170%;
    height: 76px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    & p{
      margin: 0;
      -webkit-line-clamp: 3;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &__promo {
    transform: translate(6px, 6px);
    position: absolute;
    text-align: center;
    border-radius: 5px;
    height: 28px;
    width: 79px;
    font-size: 13px;
    background: #69C0AE;
    color: white;
}
  
  // .product-item__img
  
  &__img {height: 180px;
    overflow: hidden;
    width: 100%;
    display: flex;}
  
  // .product-item__cost
  
  &__cost {
    margin-top: 20px;
    display: flex;
    align-items:center;
    column-gap: 14px;
  }
  
  // .product-item__price
  
  &__price {
    font-size: 22px;
    font-weight: 600;

  }
  
  // .product-item__oldprice
  
  &__oldprice {
    color:#C9C9C9;
    text-decoration: line-through;
    font-size: 13px;
  }
  
  // .product-item__buybutton
  
  &__buybutton {
    display: flex;
    background: white;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transform: translate(234px, 333px);
    position: absolute;
    transition: all .2s ease-in;
    fill:black !important;
    stroke:black!important;
    &:hover{
      fill:white !important;
      stroke:white !important;
      background:#DB0032;
    }
  }
}

  .product-img {
  // .product-img__image
  
  &__image {
    min-width: 100%;
  }
  
  // .product-img__points
  
  &__points {
    display: flex;
    justify-content: center;
    width: 100%;
    column-gap:4px;
  }
  }
  .points{
    &__hover{
      padding: 20px 0;

    }
    &__item{
    border-radius:5px;
    width: 10px;
    height:2px;
    background: #E8E8E8;
    transition: all .3s ease-in;
  }
  }

  .buybutton {
  // .buybutton__ico
  &__ico {}
  }



  //CATALOG ITEM
.catalog-item{
  transition: all 0.2s ease-in;
  &:hover{
    background: #74499B;
    color: #FED16E;
  }
  background: white;
  width:286px;
  height: 175px;
  border-radius:4px;
  border:solid 1px rgba($color: #000000, $alpha: 0.3);
  row-gap:25px;
  padding: 30px 48px 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items:start;
  flex-direction: column;
  
}
.article-item{
  border-radius: 4px;
    width: 300px;
    height: 370px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:start;
    transition: all 0.2s ease-in;
    border: rgba(0, 0, 0, 0.3) solid 1px;
    &:hover{
      color:#DB0032 !important
    }

    // .article-item__img
    
    &__img {
      border-radius: 3px;
      overflow: hidden;
      & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    // .article-item__data
    
    &__data {}
    
    // .article-item__title
    
    &__title {
      & p{
        margin: 0;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

}

.brands-item{
  
}