.product-item{
  width: 300px;
  height: 393px;
  border-radius:10px;
  border:solid 1px rgba($color: #000000, $alpha: 0.3);
  &__img{
    height: 100%;
    text-align: left;
  }
  &__name{
    font-weight: 600;
  }
}
.catalog-item{
  width:286px;
  height: 175px;
  border-radius:4px;
  border:solid 1px rgba($color: #000000, $alpha: 0.3);
  row-gap:25px;
  padding: 30px 48px 30px 30px;
  display: flex;
  justify-content: space-between;
  align-items:start;
  flex-direction: column;
  
}