@media (max-width: 1200px) {

// HEADER
.header{
  &__nav{
    column-gap: 14px;
  }
  &__catalog{
    margin-left: 27px;
    width: 198px;
  }
  &__search{
    margin-left: -92px;
    padding: 0 12px 0 101px;
    width: 489px;
  }
  &__menu{
    row-gap: 17px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 391px;
  }
  &__bottom{
    display: flex;
    align-items:center;

  }
}
.menu {
  
  // .menu__item
  
  &__item {
    transition: all 0.2s ease-in;
    &:hover{
      padding: 0px;
      border-radius: 5px;
      transform: scale(1.1);
      box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    }
    padding: 0px;
  }
}
//PROMOTION
.promotion-item-big{
  width: 368px !important;
}
//EVENTS
.events-selector {
  
  // .events-selector__item
  
  &__item {
    padding-bottom: 20px;
    font-size: 13px;
    }
  }
}


