@media(max-width:767px){
  .header{
    height: 217px;
    &__menu-burger {
      max-height: 50px;
      max-width: 50px;
      margin: 0;
    }
  }
  //HEADER
  .header__container{
    display: none;
  }
  .header-mobile {
    display: flex;
  }
  .header__search-mobile{
    margin-left: 0;
  }
  //BANNER
  .banner{
    padding-bottom: 100px;
    &__items{
      transform: translate(0px, 83px) scale(0.58) !important;
    }
    &__arrs{
      transform: scale(1.5)
    }
  }
  //MOVING-TEXT
  .moving-text{
    transform: scale(3) !important;
  }
}

