@media (max-width: 1023px) {
  //items
  .product-item__img{
    overflow-x:scroll !important;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      height: 3px;
      padding: 20px 0;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;

  }
      &::-webkit-scrollbar-track {
     border-radius: 5px;
     background:#e8e8e8
}
}
  .product-img__points{
    display: none !important;
  }
  .catalog-item{
    row-gap: 9px !important;
    padding: 12px !important;
    width: 150px !important;
    height: 134px !important;
  }
//HEADER
.header-catalog{
  &__items{
    width: 502px;
    height: 490px;
  }
}

.header{
  height: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__top{
    display: none;
  }
  &__menu{
    display: none !important;
  }
}
//BANNER
.banners{
  &__bg{
    height: 340px;
  }
}
.banner{
  padding-bottom: 366px;
  &__container{
    justify-content: center;
  }
  &__img{
    display:none !important;
  }
  &__items{
    margin-top: -200px;
    transform: translate(0px, 302px) !important;
  }
  
  }
  //MOVING-TEXT
  .moving-text{
    transform: scale(2) !important;
  }
  //PROMOTION
  .promotion{
    &__container{
      row-gap: 20px;
      flex-direction: column;
    }
  }
  .promotion__item.promotion-item-small{
    justify-content: center;
    width: 100% !important;
    height: 80px;
    // .promotion-item__text
    .promotion-item{
    &__text {
      flex-direction: row;
      align-items: center;
      justify-content: start;
      width: 300px !important;
      max-width: none;
      padding: 10px;
    column-gap:20px
    }
    
    // .promotion-item__number
    
    &__number {
    }
    
    // .promotion-item__header
    
    &__header {}
    
    // .promotion-item__btn
    
    &__btn {
      transform: scale(0);
      display: none;
    }
    
    // .promotion-item__img
    
    &__img {

      & img{
        height: 0%;
      }
    }
    }
  }
    .promotion__item.promotion-item-big{
      flex-direction: row;
      display: flex;
      height: 400px;
      width: 100% !important;
      // .promotion-item__text
      .promotion-item{
      
      &__text {
        flex-direction: row;
        column-gap:20px;
        align-items:center;
      }
      
      // .promotion-item__number
      
      &__number {
      }
      
      // .promotion-item__header
      
      &__header {
      }
      
      // .promotion-item__btn
      
      &__btn {
        transform: scale(1);
        & img{
          transform: rotate(0deg) !important;
        }
      }
      
      // .promotion-item__img
      
      &__img {

        & img{

        }
      }
      }
    }
    
    //CATEGORIES
    .categories{
      &__items{
        gap: 19px;
        height: 321px;
      }
      &__container{
        align-items: start;
        flex-direction: column;
      }
      &__text{
        line-height: 1;
        width: 250px;
      }
    }
    .categories-text{
      &__header{
        font-size: 28px !important;
      }
      &__desc{
        font-size: 13px !important;
      }
      &__arrs{
        display: none !important;
      }
      &__arrs-mobile{
        display: flex !important;
      }
  }
//POLULAR
.popular{
  &__items{
    gap: 19px;
    overflow-y: hidden;
    overflow-x:scroll;
    height: 430px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
  }
  &__container{
    align-items: start;
    flex-direction: column;
  }
  &__text{
    line-height: 1;
    width: 250px;
  }
}
.popular-text{
  &__header{
    font-size: 28px !important;
  }
  &__desc{
    font-size: 13px !important;
  }
  &__arrs{
    display: none !important;
  }
  &__arrs-mobile{
    display: flex !important;
  }
}
//ARTICLES
.articles{
  &__items{
    gap: 19px;
    height: 387px;
  }
  &__container{
    align-items: start;
    flex-direction: column;
  }
  &__text{
    line-height: 1;
    width: 250px;
  }
}
.articles-text{
  &__header{
    font-size: 28px !important;
  }
  &__desc{
    font-size: 13px !important;
  }
  &__arrs{
    display: none !important;
  }
  &__arrs-mobile{
    display: flex !important;
  }
}
//SERVICE
.service-item__hover{
  display: none !important;
}
//EVENTS
.events{
  &__selector{
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
    overflow: scroll;
  }
  &__banners{
    height: 384px;
  }
}
.events-selector{
  &__item{
    min-width: 50%;
  }
}
.events-banner{
  &__item{
    background-position: top !important;
    background-size: contain !important;
  }
  &__content{
    justify-content: end;
    row-gap: 10px;
    line-height: 1.1;
    width: 100% !important;
  }
  &__header{
    font-size: 18px !important;

  }
  &__desc{
    font-size: 13px;
  }
}
//BRANDS
.brands{
  &__items{
    gap: 19px;
    height: 214px;
  }
  &__container{
    align-items: start;
    flex-direction: column;
  }
  &__text{
    line-height: 1;
    width: 250px;
  }
}
.brands-text{
  &__header{
    font-size: 28px !important;
  }
  &__desc{
    font-size: 13px !important;
  }
  &__arrs{
    display: none !important;
  }
  &__arrs-mobile{
    display: flex !important;
  }
}
}



@media(max-width:767px){
  .header{
    height: 217px;
    &__menu-burger {
      max-height: 50px;
      max-width: 50px;
      margin: 0;
    }
  }
  //HEADER
  .header__container{
    display: none;
  }
  .header-mobile {
    display: flex;
  }
  .header__search-mobile{
    margin-left: 0;
  }
  //BANNER
  .banner{
    padding-bottom: 100px;
    &__items{
      margin-top: -59px !important;
      transform: translate(0px, 83px) scale(0.58) !important;
    }
    &__arrs{
      transform: scale(1.5)
    }
  }
  //MOVING-TEXT
  .moving-text{
    transform: scale(3) !important;
  }
  //SERVICES
  .service {
  
    // .service__item
    
    &__item {
      
    }
  }
  .service-item{
    &__name{
      font-size: 18px !important;
    }
    &__hover{
      opacity: 0 !important;
    }
  }
  //FEEDBACK
  .feedback{
    &__block{
      padding: 0 41px;
      height: 500px;
      flex-direction: column;
      background: url(../img/feedback-bg-mobile.svg) 0 0 #FED16D;
      animation: bgScrollRight infinite 3s linear;
    }
  }
  //FOOTER
  .footer{
    &__logo{
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    &__top{
      flex-direction: column-reverse;
    }
    &__links{
      display: grid;
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    &__bottom{
      height: 200px;
      flex-direction: column;
    }
    &__social{
      display: flex;
      bottom: 0;
      background: none;
      width: 100%;
      justify-content: center;
      & svg{
        height: 50px;
        width: 50px;
      }
    }
    &__copyright{
      width: 100%;
    }
    &__payments{
      width: 100%;
    }
  }
  .footer-links{
    &__grid-header{
      margin: 30px 0 0 0;
    }
    &__catalog{
      grid-area: 1 / 1 / 4 / 3;
    }
    &__account{
      grid-area: 1 / 3 / 2 / 5;
    }
    &__forcustomer{
      grid-area: 2 / 3 / 3 / 5;
    }
    &__aboutus{
      grid-area: 3 / 3 / 4 / 5; 
    }
  }
}