@import 'modules/home.scss';
@import 'modules/footer.scss';
@import 'modules/header.scss';

@import 'media.scss';
@import 'mobile.scss';

@import 'library/text.scss';
@import 'library/variables.scss';
@import 'library/buttons.scss';
@import 'library/forms.scss';
@import 'library/checkbox.scss';
@import 'library/inputs.scss';
@import 'library/radios.scss';

//=======================================================================
.container{
  max-width: 1290px;
  margin: 0 auto;
  @media(max-width:1290px){
    max-width: 970px;
  }
  @media(max-width:992px){
    max-width: 750px;
  }
  @media(max-width:767px){
    max-width: none !important;
  }
}
//=======================================================================

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

//=======================================================================

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: white; 
}

::-webkit-scrollbar-thumb {
  background: #FED16E;
}

::-webkit-scrollbar-thumb:hover {
  background: #74499B; 
}

//=======================================================================
* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
outline: none;
}
a:focus,
a:active {
outline: none;
}
html,
body {
	height: 100%;
}
body {
	line-height: 28.8px;
	font-family: 'Montserrat';
	font-size: 18px;
  font-weight: 400;
  color: #010717;
	//text-rendering: optimizeLegibility;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
	line-height: 28.8px;
	font-family: 'Montserrat';
	font-size: 18px;
  font-weight: 400;
}
button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}
a {
	color: #010717;
}
a:link,
a:visited {
	text-decoration: none;
  color: #010717;
}
a:hover {
	text-decoration: none;
  color: #010717;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}


//=======================================================================

@import 'fonts.scss';
@import 'googlefonts.scss';


